<% const pageName = 'MgmtContentSection'; %>
<%
var nextStep = '', currentStepTitle = '';
for (let i = 0; i < steps.length - 1; i ++) {
  if (steps[i].name === step) {
    currentStepTitle = steps[i].title;
    nextStep = steps[i + 1].name;
  }
}
if (currentStepTitle.length === 0) {
  currentStepTitle = steps[steps.length - 1].title;
}
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {customTitle:customTitle, site:site, pageName:pageName}) %>
  </head>

  <body>
    <!-- Page header -->
    <%- include('../header', {site:site}) %>

    <!-- Page Content -->
    <div class="container">
      <div class="row"><%- include('../module/navStep', {step: step, steps: steps}) %></div>

      <div class="row"><h2>Edit Algorightm <% if (locals.algoName !== undefined) { %> - <%= algoName %><%}%></h2></div>
      <div class="row">
        <form class="well" id="editForm" method="post">
          <div class="form-group">
            <label for="algoContent"><%= currentStepTitle %></label>
            <%- include('../module/mdEditor') %>
          </div>
          <div class="input-group col-sm-4">
            <% if (nextStep.length > 0) { %>
            <span class="input-group-btn"><button type="button" class="btn btn-primary" ahlink="edit" ahaction="<%= nextStep %>">Next</button></span>
            <% } %>
            <%- include('../module/userNameInput', {userLoginAPI: api.userLoginAPI, userCheckLoginAPI: api.userCheckLoginAPI}) %>
            <span class="input-group-btn"><button type="button" class="btn btn-primary" ahlink="finish">Finish</button></span>
          </div>
          
          <input type="hidden" name="algoAll" value="<%= algoContent %>" />
          <input type="hidden" name="algoSection" value="<%= step %>" />
          <input type="hidden" id="algoMod" name="algoMod" value="<%= algoMod %>" />
        </form>
        <script>
          ahjs.addConfig('editFormConfig', {
            baseUrl: '<%= site.mgmtpath %>',
            saveUrl: '<%= site.mgmtpath %>save',
            algoName: '<%= algoName %>',
            modId: 'algoMod',
            formId: 'editForm'
          });
        </script>
        <%- include('../module/dialog') %>
      <!-- Page footer -->
      <hr/>
      <%- include('../footer', {site:site, pageName:pageName}) %>
    </div>
  </body>
</html>