<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {customTitle:customTitle}) %>
  </head>

  <body>
    <!-- Page header -->
    <%- include('../header', {site:site}) %>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <center>
        <h2><%= errorTitle %></h2>
        <h3><%= errorMessage %></h3>
        </center>
      </div>
      <!-- Page footer -->
      <hr/>
      <%- include('../footer') %>
    </div>
  </body>
</html>