<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {customTitle:customTitle}) %>
  </head>

  <body>
    <!-- Page header -->
    <%- include('../header', {site:site}) %>

    <!-- Page Content -->
    <div class="container">
      <div class="row"><%- include('../module/navStep', {step:'name', steps: steps}) %></div>

      <div class="row">
        <form class="well" id="editForm" method="post">
          <div class="form-group">
            <label for="algoName">Algorithm name</label>
            <input type="text" class="form-control" id="algoName" name="algoName" placeholder="Algorithm name" <% if (locals.algoName !== undefined) { %> value="<%= algoName %>" <% } %> <%if (!isNew){%>readonly<%}%>
          </div>
          <hr/>
          <div class="form-group">
            <%- include('../module/tags', {tagList: tagList.join(','), allTags: allTags}) %>
            <input type="hidden" class="form-control" id="algoTags" name="algoTags" <% if (locals.algoTags !== undefined) { %>value="<%= algoTags %>"<% } %>>
          </div>
          <hr/>
          <div class="form-group">
            <button type="button" class="btn btn-primary" ahlink="edit" ahaction="section_desc">Next</button>
            <button type="button" class="btn btn-primary" ahlink="finish" id="linkFinish">Finish</button>
            <% if (locals.algoContent !== undefined){ %><input type="hidden" name="algoAll" value="<%= algoContent %>" /><% } %>
          </div>
        </form>
        <script>
          var editFormConfig = {
            baseUrl: '<%= site.mgmtpath %>',
            saveUrl: '<%= site.mgmtpath %>save',
            formId: 'editForm',
            nameId: 'algoName',
            tagsId: 'algoTags',
            finishId: 'linkFinish'
          };
          ahjs.addConfig('editFormConfig', editFormConfig);
        </script>
      </div>
      <%- include('../module/dialog') %>
      <!-- Page footer -->
      <hr/>
      <%- include('../footer') %>
    </div>
    <script src="<%= site.jspool %>/dialog.js"></script>
    <script src="<%= site.jspool %>/tags.js"></script>
    <script src="<%= site.jspool %>/pageName.js"></script>
  </body>
</html>